.navbar-margin{
  width: 100%;
  height: 90px;
}

.navbar-container {
  top: 0px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #374255;
  background-size: 250% 250%;
  animation: moveGradient 5s linear infinite;
  border-bottom: 2px solid #1f2227;
  width: 100%;
  height: 90px;
  z-index: 1;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.logo-video{
  height: 100%;
  width: 100%;
  mix-blend-mode: multiply;
}

.unstyled-link{

  width: fit-content;
  height: 100%;
  margin-right: 3%;
  margin-left: 3%;
}

.logo-text {
  color: #f7f7f7;  
  font-size: 3vw;
  height: fit-content;
  font-family: 'Helvetica', 'Times New Roman', Times, serif;
  letter-spacing: 0.35em;
  margin-top: 2%; 
  border: 1px solid red; 
  align-self: center;
}

.searchBar{
  margin-left: 0px;
  background-color: white;
  border: 2px solid #E6E6E6;
  border-radius: 8px;
  align-self: end;
  margin-bottom: 20px;
  width: fit-content;
}

.contact {
  font-family: 'Georgia','Helvetica', 'Times New Roman', Times, serif;
  color: #f7f7f7;
  text-decoration: none;
  transition: background-color 0.3s ease;
  height: fit-content;
  align-self: end;
  margin-bottom: 20px;
  margin-left: 100px;
  border-radius: 3px;
  cursor: pointer;
}

.hover-effect-navbar:hover{
  border-radius: 3px;
  transform: scale(1.1);
}

.link-favourites {
  font-size: 22px;
  color: #f7f7f7;
  align-items: center;
  align-self: end;
  margin-left: 15px;
  margin-bottom: 17px;
  padding: 0px;
  cursor: pointer;
}

.link-cart {

  font-size: 23px;
  color: #f7f7f7;
  align-items: center;
  align-self: end;
  margin-left: 15px;
  margin-bottom: 18px;
  padding: 0px;
  cursor: pointer;
  
}


.link-profile {
  font-size: 25px;
  color: #f7f7f7;
  align-items: center;
  align-self: end;
  margin-left: 15px;
  margin-bottom: 16px;
  padding: 0px;
  cursor: pointer;
}

/* Contact Us element*/
.information{
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  right: 0;
  background-color: #3B444F;
  border: 2px solid rgb(236, 234, 234);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 50%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
  color: rgb(207, 201, 201);
}

@keyframes slideInformation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutformation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.custom-x-icon{
  margin-left: auto;
  font-size: 35px;
  width: fit-content;
  height: fit-content;
  font-family: 'Helvetica', 'Times New Roman', Times, serif;
  cursor: pointer;
}

.slide-in{
  animation: slideInformation 0.7s ease-out forwards;
}

.slide-out{
  animation: slideOutformation 0.7s ease-out forwards;
}

.dim-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.7);
}


.fade-in{
  animation: fadeInDim 1s ease-in forwards;
}

.fade-out{
  animation: fadeOutDim 1s ease-in forwards;
}

.cu-1{
 margin-top: 13px;
 font-family: 'Georgia','Helvetica', 'Times New Roman', Times, serif;
 width: fit-content;
 height: fit-content;
 align-self: flex-start;
 
}

.cu-2{ 
 font-weight: lighter;
 font-size: 16px;
 width: fit-content;
 height: fit-content;
 align-self: flex-start;

}

.first-row{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.other-row{
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}






